<section class="footer">
    <footer>
        <span class="footer__copyright">The site is using
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">International copyright 4.0 license</a>
        </span>
        <span class="footer__copyright">
            By
            <a href="https://jekyllrb.com">Jekyll</a> on {{ site.time | date: "%F" }} , host by git page. 
            <a href="https://analytics.google.com/analytics/web/?authuser=0#/report-home/a125177960w183708092p181190040">GA</a>
        </span>
        <span class="footer__copyright">
            The site{% if site.creator %}is created by {{site.creator}}, {% endif %} - &copy; {{site.time | date: "%Y"}}
        </span>
    </footer>
</section>
