<!--<hr class="post-list__divider " />-->

<nav class="pagination" role="navigation">
    {% if paginator.previous_page %}
    <a class="newer-posts pagination__newer btn btn-small btn-tertiary" href="{{ paginator.previous_page_path }}#blog">&larr; new</a>
    {% endif %}
    <span class="pagination__page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a class="older-posts pagination__older btn btn-small btn-tertiary" href="{{ paginator.next_page_path }}#blog">old &rarr;</a>
    {% endif %}
</nav>
