// ------------------------------
// BASICS
// ------------------------------

html, body {
  height: 100%;
}

html {
    height: 100%;
    max-height: 100%;
}

body {
  font-family: $sans-font;
  font-size: 1em;
  color: $gray-darker;
  background: #f2f4f8;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: lighten($primary-color, 36%);
}

::-moz-selection {
  background: lighten($primary-color, 36%);
}

// ------------------------------
// TYPOGRAPHY
// ------------------------------

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $hover-color;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
  }

}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 1.0em;
  margin-bottom: .5em;
  font-family: $serif-font;
  font-weight: lighter;
  color: $gray-darkest;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 0;
  font-size: 2.5em;
  line-height: 1.2em;
  letter-spacing: .05em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.7em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-family: $serif-font;
  font-weight: lighter;
  font-size: 1em;
  border-left: 3px solid $primary-color;

  p {

    &:last-child {
      margin-bottom: 0;
    }

  }

}

// ------------------------------
// BASIC STYLING
// ------------------------------

ol, ul {
  margin: 0 0 1.3em 2.5em;

  li {
    margin: 0 0 .2em 0;
    line-height: 1.6em;
  }

  ol, ul {
    margin: .1em 0 .2em 2em;
  }

}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

code {
  padding: .1em .4em;
  background: lighten($secondary-color, 32%);
  border: 1px solid lighten($secondary-color, 25%);
  border-radius: $border-radius;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  vertical-align: bottom;
  word-wrap: break-word;
}

pre {
  margin-bottom: 1.3em;
  padding: 1em 2.5%;
  background: lighten($secondary-color, 32%);
  border: 1px solid lighten($secondary-color, 25%);
  border-radius: $border-radius;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  font-weight: normal;
  line-height: 1.3em;
  overflow:scroll;

  code {
    padding: 0;
    background: none;
    border: none;
    word-wrap: normal;
  }

}

table {
  color: $gray-darkest;
  font-size: .9em;
  text-align: center;
  line-height: 40px;
  border-spacing: 0;
  border: 2px solid darken($primary-color, 10%);
  width: 90%;
  margin: 50px auto;
}

thead tr:first-child {
  background-color: darken($primary-color, 10%);
  color: $gray-lightest;
  border: none;
}

th {font-weight: bold;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {
    border-bottom: 1px solid $gray-light;
}

tbody tr:last-child td {border: none;}
tbody td {
    border-bottom: 1px solid $gray-light;
    font-size: .85em;
}

td:last-child {
  padding-right: 10px;
}


.date,
.time,
.author,
.tags {
  font-size: .8em;
  color: darken($gray, 2%);

  a {
    color: $gray-darker;

    &:hover {
      color: $hover-color;
    }

  }

}

.excerpt {
  margin: 0;
  font-size: .9em;
  color: $gray-dark;
}

.intro {
  font-family: $serif-font;
  font-size: 1.2em;
  font-weight: lighter;
  color: $gray-dark;
}

.block-heading {
  @include column(12);
  position: relative;
  bottom: -15px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.label {
  position: relative;
  display: inline-block;
  padding: 8px 18px 9px 18px;
  background: $primary-color;
  border-radius: $border-radius;
  text-align: center;
  color: #FFF;
}

// ------------------------------
// MAIN LAYOUT
// ------------------------------

.container {
  position: relative;
  z-index: 500;
  width: $total-width - $gutter-width;
  margin: 0 auto;
}

.content-wrapper {
  z-index: 800;
  padding: 0 50px;
//  margin-left: 30%;
}

  .content-wrapper__inner {
    margin: 0 10%;
    padding: 50px 0;
  }

.frame-border {
  border: 1px solid #6ab750;
  border-style: dashed;
  border-radius: 20px;
  padding: 15px 15px;
  font-size: .8em;
  margin-left: 10px;
}

.footer {
  display: block;
  padding: 2em 0 0 0;
  border-top: 2px solid #6ab750;
  font-size: .7em;
  color: lighten($gray-dark, 10%);
}

  .footer__copyright {
    display: block;
    margin-bottom: .7em;

    a {
      color: #6ab750;
      text-decoration: underline;

      &:hover {
        color: $hover-color;
      }

    }

  }

// ------------------------------
// AVATAR & LOGO
// ------------------------------

.avatar,
.logo {
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow:0 0 1px 1px rgba(000,000,000,.3);
}

// ------------------------------
// DIVIDERS
// ------------------------------

hr {
  border: none;
}

.section-title__divider {
  width: 30%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid $gray-light;
}

// ------------------------------
// MISC STYLES / HELPERS
// ------------------------------

.hidden {
  display: none !important;
}
