<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div class="content-wrapper">
		<div class="content-wrapper__inner">
			<a padding-right='20px' href="/">HOME</a> | <a padding-left='20px' href="/page/bible">BIBLE</a>
			<hr class="post-list__divider" />
			{{ content }} {% include footer.html %}
		</div>
	</div>

	{% include external.html %}

</body>

</html>
